@import "tailwindcss";

@theme {
  --color-primary: #ec6d13;
  --color-background-light: #fcfaf8;
  --color-background-dark: #1b130d;
  --color-pastel-mint: #f2faf7;
  --color-pastel-peach: #ffd8be;
  --font-display: "Plus Jakarta Sans", sans-serif;
  --font-serif: "Georgia", serif;
  --radius: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
  --radius-full: 9999px;
}